<div id="row{% if include.id_number %}-{{ include.id_number }}{% endif %}" class="row">
  <div id="4u 12u$(mobile){% if include.id_number %}-{{ include.id_number }}{% endif %}" class="4u 12u$(mobile)"></div>
{% for picture in include.gallery.pictures %}
  <div class="item">
    <a href="{{ site.url }}{{ site.baseurl }}/assets/images/{{ picture.original }}"
    data-responsive="{% for size in picture.sizes %} {{ site.url}}{{ site.baseurl }}/assets/images/{{ size }} {{ size | split: '-' | last | split: '.' | first | split: 'x' | first | strip }}{% unless forloop.last %},{% endunless %}{% endfor %}" class="image">
   {% if picture.thumbnail == empty %}
   <img  src="">
   {% elsif picture.thumbnail == 'top_new.jpg' %} 
    <img  src="{{ site.url }}{{ site.baseurl }}/assets/images/{{picture.thumbnail}}"></a>
   {% endif %}
   </a>
{% endfor %}
  </div>  
</div>

<script>
$(document).ready(function() {
  var $gallery{% if include.id_number %}{{ include.id_number }}{% endif %} = $("#row{% if include.id_number %}-{{ include.id_number }}{% endif %}").lightGallery({
    thumbnail: false,
    selector: '.image'
  });
});

// init isotope
var $grid{% if include.id_number %}{{ include.id_number }}{% endif %} = $('#row{% if include.id_number %}-{{ include.id_number }}{% endif %}').isotope({
  percentPosition: true,
  columnWidth: '#4u 12u$(mobile){% if include.id_number %}-{{ include.id_number }}{% endif %}',
  itemSelector: '.item',
  layoutMode: "masonry"
});

// layout Isotope after each image loads
$grid{% if include.id_number %}{{ include.id_number }}{% endif %}.imagesLoaded().progress( function() {
  $grid{% if include.id_number %}{{ include.id_number }}{% endif %}.masonry();
});

</script>
